default: &default
  adapter: mysql2
  pool: 5
  timeout: 5000
  host: localhost
  port: 3306
  username:
  password:
  encoding: utf8mb4
  collation: utf8mb4_vietnamese_ci

development:
  <<: *default
  database: lab-demo
